@model StudentManagement.ViewModels.Student.StudentFormViewModel
@using StudentManagement.Enums

<div class="mb-3">
    <label asp-for="StudentNumber" class="form-label"></label>
    <input asp-for="StudentNumber" class="form-control" />
    <span asp-validation-for="StudentNumber" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Gender" class="form-label"></label>
    <select asp-for="Gender"asp-items="Html.GetEnumSelectList<Gender>()" class="form-select">
        <option value="">-- Select Gender --</option>
    </select>
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>
