@model StudentManagement.ViewModels.Enrollment.EnrollmentFormViewModel

@{
    ViewData["Title"] = "Edit Enrollment";
}

<h2>Edit Enrollment</h2>

<hr />

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_EnrollmentForm" model="Model" />

    <button type="submit" class="btn btn-primary">Update</button>

    <a asp-action="Index" class="btn btn-secondary"> Cancel</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}