@model StudentManagement.ViewModels.Course.CourseFormViewModel

@{
    ViewData["Title"] = "Create Course";
}

<h2>Create Course</h2>

<hr />

<form asp-action="Create" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_CourseForm" model="Model" />

    <button type="submit" class="btn btn-success">Save</button>

    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}